/** Reset Tab Buttons */

[role="tab"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* Reset `button` and button-style `input` default styles */
[role="tab"] {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button; /* for input */
  -webkit-user-select: none; /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
}

[role="tab"]::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/** End of Reset Tab Buttons */

.tab-buttons {
  background: #c51110;
  color: white;
  padding-top: 10px;
}

.tab-button {
  font-size: 1.5em;
  padding: 5px 20px 7px;
}

.tab-button[aria-selected="true"] {
  background: white;
  color: #c51110;
}

@media screen and (max-width: 700px) {
  .tab-buttons {
    padding-top: 0;
  }

  .tab-button {
    border-bottom: 1px solid #940d0c;
    display: block;
    padding: 5px 20px;
    text-align: left;
    width: 100%;
  }
}
